[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
python-multipart = "*"
psycopg2-binary = "*"
asyncpg = "*"
sqlalchemy = "*"
celery = "*"
redis = "*"
pydantic = "*"
fastapi = "*"
alembic = "*"
pytest = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
